<div class="copyright" >
<p align="center" style="font-size:small">SiteMyHome &copy; <%= javascript_include_tag 'footer_year' %>
| Совместное производство Алексея Щурака и Кирилла Даншина.</p>
</div>
